{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-0 mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font text-dark mb-4">Your Cart</h2>
            <hr>
        </div>
    </div>
        <!-- Displays items in the cart -->
        <div class="row">
            <div class="col card shadow p-3 mb-4">
                {% if cart_items %}
                    <div class="table-responsive rounded-0 shadow">
                        <table class="table table-sm bg-white">
                            <thead class="text-dark text-uppercase">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in cart_items %}
                                <tr>
                                    <td class="py-3 w-25">
                                        <img class="card shadow img-fluid rounded-8" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="p-3 w-25">
                                        <!-- Product name -->
                                        <p class="my-0">{{ item.product.name }}</p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        <!-- Remove car from cart button -->
                                            <a class="remove-item text-danger mt-2 float-left" id="remove_{{ item.item_id }}" data-product="{{ item.product }}">
                                                <button type="button" class="btn btn-sm shadow btn-outline-danger text-uppercase">
                                                    Remove Car
                                                </button>
                                            </a>
                                    </td>
                                    <td class="py-3 w-25">
                                        <!-- Product price -->
                                        <p class="mx-auto">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong class="text-danger">Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <!--<h6>Delivery: €{{ free_mech_delta|floatformat:2 }}</h6>
                                    <div class="mt-4 text-danger"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></div>
                                    {% if free_mech_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_mech_services_delta }}</strong> more!
                                        </p>
                                    {% endif %}-->
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-4">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Browsing</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-8 shadow">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your cart is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-8 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Browsing Cars</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

// Removes a car from the cart and reloads on click
$('.remove-item').click(function(e) {
    let csrfToken = "{{ csrf_token }}"
    let itemId = $(this).attr('id').split('remove_')[1];
    let url = `/cart/remove/${itemId}/`;
    let data = {'csrfmiddlewaretoken': csrfToken}

    $.post(url, data)
    .done(function() {
        location.reload();

        console.log(itemId)
    });
})

</script>
{% endblock %}
