{% extends "base.html" %}
{% load static %}

<!-- CSS for the profile page -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- The below form displays the user's delivery info -->
<div class="overlay"></div>
<div class="container mt-0">
    <hr>
    <!-- {{ user }} displays the user's username -->
    <h2 class="logo-font text-dark mb-4">{{ user }} Profile</h2>
    <hr>
    <div class="row">
        <div class="col mb-4 p-4 card shadow">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <!-- Default delivery info form -->
                    <p class="text-muted">Default Delivery Information</p>
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="mt-3">
                        <!-- A CSRF Token is a secret, unique and unpredictable value a server-side application generates in order to protect CSRF vulnerable resources. The tokens are generated and submitted by the server-side application in a subsequent HTTP request made by the client. Form won't work without this token. -->
                        {% csrf_token %}
                        <!-- Generates Django crispy forms -->
                        {{ form|crispy }}
                        <button class="btn btn-black rounded-4 text-uppercase shadow">
                            Update Information
                        </button>
                    </form>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="text-muted">Order History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                <li>
                                                    {{ item.product.name }}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </td>
                                        <td>€{{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
// Script to take control of country selected colours
    let countrySelected = $('#id_default_country').val();
    if (!countrySelected) {
        $('#id_default_country').css('color', '#aab7c4');
    };
    $('#id_default_country').change(function () {
        countrySelected = $(this).val();
        if (!countrySelected) {
            $(this).css('color', '#cfd7df');
        } else {
            $(this).css('color', '#000');
        }
    });
</script>
{% endblock %}
