.order-history {
  max-height: 420px;
  overflow-y: auto;
}

#profile-update-form .form-control {
  color: black;
}

#profile-update-form input::placeholder {
  color: #cfd7df;
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}

#id_default_country option:first-child {
  color: #cfd7df;
}
