<!-- Footer -->
<div class="footer-dark">
    <div class="footer-container">
            <div class="col text-center" style="padding: 15px;">
                <h3 class="text-uppercase">Classic Ford Cars</h3>
                <p>We are a small bunch of dedicated car mechanics with a passion for Ford cars. Although our cars might
                    look old, they are 100% fully restored with each car taking up to 4,000 man hours to build.
                <br>Feel free to <a class="text-muted" href="mailto:classicfordcarss@gmail.com">contact us</a> regarding any queries you might have abo ut an order or our cars. Test drives are available.</p>
            </div>
            <div class="col item social">
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        <p class="copyright p-3">Classic Ford Cars © 2021</p>
    </div>
</div>
