<!-- Footer -->
<div class="footer-dark">
    <div class="footer-container">
            <div class="col-md-6 item text">
                <h3>Classic Ford Cars</h3>
                <p>We are a small bunch of dedicated car mechanics with a passion for Ford cars. Although our cars might
                    look old, they are 100% fully restored with each car taking up to 4,000 man hours to build.</p>
            </div>
            <div class="col item social">
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <p class="copyright">Classic Ford Cars © 2021</p>
    </div>
</div>
