<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav navbar w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="all-cars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Cars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-cars-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Cars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="capri-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Capri
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="capri-link">
                <a href="" class="dropdown-item">Capri MkI 1600 GT XL</a>
                <a href="" class="dropdown-item">Capri 2.0 Mark 1</a>
                <a href="" class="dropdown-item">Restored Capri Rally Cars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="mustang-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mustang
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mustang-link">
                <a href="" class="dropdown-item">Mustang Mach 1</a>
                <a href="" class="dropdown-item">Racing Mustangs</a>
                <a href="" class="dropdown-item">All Mustang Cars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>